<div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">ACCUEIL</a></li>
                    <li><a href="about-us.html">A PROPOS</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">SE DECONNECTER</a></li>
                </ul>
            </div>