<div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Accueil</a></li>
                    <li><a href="about-us.html">A propos</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">S'incscrire</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                </ul>
            </div>