{% extends "::layout/layout_menu.html.twig" %}        

    {% block menu_gauche %}
         
    {% endblock menu_gauche %}
    
    
    
    {% block contenu %}
        <h1> Editer</h1>
    {% endblock contenu %}